<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/normalbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>

		<div th:if="${contact}" class="card mr-3 ml-3">
			<div class="card-body">
				<div class="container text-center">

					<img src="" style="height: 200px; width: 200px;"
						class="my_profile_picture" th:src="@{'/IMAGE/'+${contact.image}}" />

					<h3 class="mt-3">
						<span th:text="${contact.name}"></span> <span
							th:text="${contact.secondName}"></span>

					</h3>

					<table class="table">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">SCM2020<span th:text="${contact.cId}"></span></th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Email</th>
								<td><span th:text="${contact.email}"></span></td>

							</tr>

							<tr>
								<th scope="row">Email</th>
								<td><span th:text="${contact.email}"></span></td>

							</tr>

							<tr>
								<th scope="row">Phone</th>
								<td><span th:text="${contact.phone}"></span></td>

							</tr>


							<tr>
								<th scope="row">Work</th>
								<td><span th:text="${contact.work}"></span></td>

							</tr>


						</tbody>

					</table>

					<div class="description">

						<th:block th:utext="${contact.description}"></th:block>

					</div>

					<div class="container mt-3">
						<a th:href="@{'/user/update-contact/'+${contact.cId}}"><button
								class="btn btn-primary btn-sm ">Update</button></a> <a
							th:href="@{'/user/delete-contact/'+${contact.cId}}"><button
								class="btn btn-danger btn-sm ">Delete</button></a>

					</div>

				</div>

			</div>

		</div>

		<h1 th:unless="${contact}">You don't have permission to see this
			contact</h1>


	</section>




</body>
</html>